* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bw: calc((100% - 20px)/60);
    --bh: calc((100% - 100px)/60);
    --bnum: calc(var(--bh) * var(--bw));
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(176, 243, 205);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    position: relative;
    background-color: #fff;
    width: 80%;
    height: 85%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container {
    position: absolute;
    top: 38%;
    width: 330px;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(246, 101, 82), -2px -2px 2px rgb(211, 249, 20);
    background: #dbf8df;
}

.container>h2 {
    font-size: 30px;
    -webkit-text-stroke: 1px red;
    color: black;
}

#startbtn {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 15px 30px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    background: linear-gradient(to bottom right, #0000d2, #3ad779);
    color: #fff;
    background-color: #0000d2;
    z-index: 2;
    margin-top: 20px;
}

#startbtn:hover {
    font-size: 22px;
}

.row {
    width: 90%;
    margin: 10px 0px;
}

#seerules {
    cursor: pointer;
}

#rules {
    padding-right: 8px;
    display: none;
    overflow-y: scroll;
    text-overflow: ellipsis;
    max-height: 200px;
}

#rules::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(136, 167, 242);
    border-radius: 8px;
    /* display: none; */
}
#rules::-webkit-scrollbar-thumb{
    background: rgb(146, 7, 252);
    border-radius: 5px;
}


#rules li {
    list-style: disc;
    margin-top: 5px;
    font-size: 15px;
}

#gtop {
    width: 100%;
    height: 80px;
    background-color: rgb(6, 129, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgb(107, 243, 166);
}

.elem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 30%;
}

.elem .box {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
}

.bubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3ad779;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.bubble:hover {
    background-color: #50e48b;
    cursor: pointer;
}

#gbtm {
    width: 100%;
    height: calc(100% - 108px);
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-bottom: none;
}

#gameover {
    font-size: 45px;
    margin-bottom: 30px;
    color: red;
    text-shadow: 2px 2px 5px rgb(1, 142, 1);
    text-align: center;
}

#scorecard {
    color: #1c00ac;
    text-align: center;
}

#scorecard span {
    color: #59015f;
    font-weight: 800;
    margin-left: 20px;
    text-shadow: 1px 1px 2px red;
    font-size: 40px;
}

#playagain {
    font-size: 25px;
    border: 2px transparent #000;
    padding: 7px 18px;
    border-radius: 33px;
    cursor: pointer;
    background-color: #0000d2;
    color: #fff;
    margin-top: 25px;
    font-weight: 500;
}

#playagain:hover {
    border: 2px solid #000;
}

#makenewbubbles {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3ad779;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    height: 28px;
    padding-top: 2px;
    border: 2px solid;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#makenewbubbles:hover {
    font-size: 21px;
}

/*  For Responsiveness of Game.......... Media Queries */

@media screen and (max-width: 550px) {
    #main{
        width: 87%;
    }
    .elem {
        width: auto;
    }
}

@media screen and (max-width: 420px) {
    #main{
        width: 93%;
    }
    .elem {
        gap: 5px;
    }

    #gtop {
        flex-wrap: wrap;
    }

    .container {
        width: 260px;
    }
}

@media screen and (max-width: 375px) {
    #main{
        width: 95%;
    }
    .container {
        width: 230px;
    }

    .container>h2 {
        font-size: 27px;
    }
}

@media screen and (max-height: 560px) {
    #rules {
        height: 80px;
    }
}